html,
body,
#map {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #060b19;
    overflow: hidden;
}

.top-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: rgba(11, 5, 41, 0.623);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #ff63d8;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-btn {
    background: #01048bb6;
    border: 1px solid #000296;
    color: #e2f9ff;
    padding: 8px 16px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.nav-btn img {
    height: 18px;
    margin-right: 8px;
}

.nav-btn:hover {
    background: #f35acd;
    color: #060b19;
    box-shadow: 0 0 12px #ff5ec9cb;
    border-color: rgba(245, 39, 152, 0.796);
}

.leaflet-marker-icon {
    transition: transform 0.2s linear;
    filter: drop-shadow(0 0 10px #7efbffcc) drop-shadow(0 0 3px #7efbffcc);
}

.radar-glow {
    stroke: #f35acd;
    stroke-width: 2px;
    fill: #f35acd;
    animation: radarPulse 2.5s infinite ease-in-out;
}

.sun-glow {
    width: 60px;
    height: 60px;
    border-radius: 50%;

    animation: sunPulse 4s infinite ease-in-out;

    filter: drop-shadow(0 0 10px #ff9900da) drop-shadow(0 0 1px #ff9900de);

    animation: sunPulse 4s infinite ease-in-out;
}

@keyframes radarPulse {
    0% {
        fill-opacity: 0.03;
        stroke-opacity: 0.3;
    }
    50% {
        fill-opacity: 0.18;
        stroke-opacity: 0.9;
    }
    100% {
        fill-opacity: 0.03;
        stroke-opacity: 0.3;
    }
}

@keyframes sunPulse {
    0% {
        box-shadow:
            0 0 10px rgba(255, 153, 0, 0.466),
            0 0 20px rgba(255, 123, 0, 0.356);
        opacity: 0.8;
    }
    50% {
        box-shadow:
            0 0 25px rgba(255, 166, 0, 0.6),
            0 0 35px rgba(255, 153, 0, 0.4);
        opacity: 1;
    }
    100% {
        box-shadow:
            0 0 10px rgba(255, 145, 0, 0.4),
            0 0 20px rgba(255, 153, 0, 0.2);
        opacity: 0.8;
    }
}
